<?xml version="1.0"?>
<configuration>
    <appSettings>
      <add key="BLAssembly" value="JPEG.Encryption.BL"/>
      <add key="PathToOpenCV" value="..\..\..\JPEG.Encryption.BL\lib\opencv\"/>
      <add key="PathToBridge" value="..\..\..\..\bridge\"/>
      <add key="FaceDetectionXML" value="haarcascade_frontalface_default.xml"/>
      <add key="CameraCaptureWidth" value="640"/>
      <add key="CameraCaptureHeight" value="480"/>
      <add key="RaspberryPiIP" value="86.56.172.230"/>
    </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
